<div class="add-position">
    {{> messages }}
    <form action="" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="inputPassword4" placeholder="Position Name" name="name">
        </div>

        <button type="submit" class="btn btn-primary d-flex float-end mt-2">Add Position</button>
    </form>
</div>