<div class="add-position">
    <form action="" method="post">
        Position Name <input type="text" name="name">

        <button type="submit">Add Position</button>

        {{> messages }}
    </form>
</div>