{{!-- <div class="add-position">
    {{#if position}}
        <form action="/positions/update/{{position.id}}" method="post">

             <div class="form-group">
                <input type="text" class="form-control" id="inputPassword4" placeholder="Position Name" name="name" value="{{position.name}}">
            </div>

            <button type="submit" class="btn btn-primary d-flex float-end mt-2">Update Position</button>


            {{> messages }}
        </form>
    {{/if}}
</div> --}}


<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Position add form</h5>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <input type="text" class="form-control w-75" id="positionName" placeholder="Position Name" name="name">
            <div class="mx-1"></div>
            <button type="submit" class="btn btn-primary w-25" id="submitPosition">Yadda Saxla</button>
        </div>
        <div class="departments-header my-3">
            <h3 class="text-center">Zəhmət olmasa aid olduğu departamentləri və ya departamenti seçin</h3>
        </div>
        <div class="departments-checkbox d-flex justify-content-between flex-wrap">
            
        </div>

    </div>
</div>

<div class="success-modal bg-dark bg-opacity-50" style="display: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
    <div class="success-modal-conatiner d-flex justify-content-center align-items-center h-100 w-100">
        <div class="success-modal-card bg-light h-50 w-50 d-flex justify-content-center align-items-center">
            <h3 class="text-success">Vəzifə uğurla əlavə edildi!</h3>
        </div>
    </div>
</div>
<div class="error-modal bg-dark bg-opacity-50" style="display: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
    <div class="error-modal-conatiner d-flex justify-content-center align-items-center h-100 w-100">
        <div class="error-modal-card bg-light h-50 w-50 d-flex justify-content-center align-items-center">
            <h3 id="errorMessage" class="text-danger"></h3>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/update-position-api.js"></script>