<div class="add-department">
    <form action="" method="post">
        Department Name <input type="text" name="name">
        <button type="submit">Add Department</button>

        {{> messages}}
    </form>
</div>