<div class="add-department">
    <form action="" method="post">
        Department Name <input type="text" name="name">
        Project <input type="number" name="project_id">
        Department Manager <input type="number" name="department_manager_id">

        <button type="submit">Add Department</button>

        {{> messages}}
    </form>
</div>