<div class="department-table">
    {{> messages }}
    <h2 class="text-center mb-4">Departament</h2>
    <table class="table table-striped">
        <div class="container">
                <thead>
                    <th>Department Name</th>
                    <th>
                        <a class="btn btn-outline-success btn-sm" href="/department/add-department">Əlavə <i class="bi bi-plus-circle"></i></a>
                    </th>
                </thead>
                <tbody>
                
                </tbody>    
        </div>
    </table>
</div>

<div class="pagination d-flex justify-content-center">
        <div class="pagination-container w-50 d-flex justify-content-between">
            <button class="pagination-item btn btn-outline-dark btn-sm active disabled">1</button>
        </div>
    </div>

<div class="loading position-absolute top-0 w-100" style="left: 0; height: 100vh">
    <div class="loading-container bg-light bg-opacity-25 w-100 h-100 d-flex justify-content-center align-items-center">
        <img src="/assets/img/loading-3.gif" style="width: 70px">
    </div>
</div>


<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/departments.js"></script>