<div class="add-department">
    {{#if department}}
        <form action="/department/update/{{department.id}}" method="post">
            Department Name <input type="text" name="name" value="{{department.name}}">
            <button type="submit">Update Department</button>

            {{> messages}}
        </form>
    {{/if}}
</div>