<div class="add-project">
    <form action="/projects/add-project" method="post">
        Project Name <input type="text" name="name">
        Project Address <input type="text" name="address">
        Project Manager <input type="number" name="project_manager_id">
        Parent ID <input type="number" name="parent_id">

        <button type="submit">Add Project</button>
        {{> messages}}
    </form>
</div>