<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0">Layihələr</h5>
    </div>
    <h2 class="text-center py-2">Layihələr</h2>
    <div class="department-table">
        {{> messages }}
        <table class="table table-hover my-0" style="margin: 0 !important;">
            <div class="container">
                <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Project Name</th>
                    <th>Address</th>
                    <th>Project Manager</th>
                    <th>
                        <a class="btn btn-outline-success btn-sm w-100" href="/projects/add-project">Əlavə <i
                                class="bi bi-plus-circle"></i></a>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>

                </tbody>
            </div>
        </table>
    </div>

    <div class="pagination d-flex justify-content-center">
        <div class="pagination-container w-50 d-flex justify-content-between">
            <button class="pagination-item btn btn-outline-dark btn-sm active disabled">1</button>
        </div>
    </div>

    <div class="loading top-0 w-100" style="left: 0; height: 100vh">
        <div class="loading-container bg-opacity-25 w-100 h-100 d-flex justify-content-center align-items-center">
            <img src="/assets/img/atom.svg" style="width: 100px">
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/projects.js"></script>