<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Layihə əlavə formu</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Layihə adı</label>
                                <input class="form-control" type="text" id="projectName" name="name">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Layihə adresi</label>
                                <input class="form-control" type="text" id="projectAddress" name="address">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Layihə meneceri</label>
                                <select class="form-select" id="projectManagers" name="project_manager_id" id="">
                                    <option value="" hidden>Layihə meneceri seçin</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Üst proyekt</label>
                                <select class="form-select" id="parentProjects" name="parent_id" id="">
                                    <option value="">Əsas Layihə</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="submit-button">
                    <button id="saveBtn" class="btn btn-primary" style="float: right;">Yadda Saxla</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/update-project.js"></script>