<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Change Password</h5>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="password">Old Password</label>
            <input type="password" name="oldPassword" class="form-control" id="oldPassword" placeholder="Password">
        </div>
        <div class="my-2"></div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="my-2"></div>
        <div class="form-group">
            <label for="confirmPassword">Repeat Password</label>
            <input type="password" name="re_password" class="form-control" id="confirmPassword" placeholder="Retype Password">
        </div>
        <button type="submit" id="submitBtn" class="btn btn-primary mt-3">Change Password</button>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/change-profile-password.js"></script>