<div class="image-container position-fixed" style="width: 15%">
    <img src="/assets/img/john.jpg" alt="" class="img-thumbnail h-100" style="object-fit: cover">
</div>
<div class="" style="width: 80%; position: absolute; right: 0">
    <div class="profile-page">
        <div class="user-info mx-5 d-flex flex-wrap" style="width: fit-content">
            <div class="username user-info-list">
                <label for="">İstifadəçi Adı: </label>
                <input type="text" class="form-control" id="user-name" value="shahvaladov">
            </div>
            <div class="email user-info-list">
                <label for="">Email Ünvanı: </label>
                <input type="text" class="form-control" id="user-name" value="Ali.Shahveledov@yenihayat.az">
            </div>
            <div class="name user-info-list">
                <label for="">Adı: </label>
                <input type="text" class="form-control" id="user-name" value="Əli">
            </div>
            <div class="surname user-info-list">
                <label for="">Soyadı: </label>
                <input type="text" class="form-control" id="user-name" value="Şahvələdov">
            </div>
            <div class="father-name user-info-list">
                <label for="">Ata Adı: </label>
                <input type="text" class="form-control" id="user-name" value="Məzahir">
            </div>
            <div class="sex user-info-list">
                <label for="">Cinsiyyəti </label>
                <input type="text" class="form-control" id="user-name" value="Kişi">
            </div>
            <div class="sex user-info-list">
                <label for="">Doğum Tarixi </label>
                <input type="text" class="form-control" id="user-name" value="04.11.1998">
            </div>
            <div class="q-address user-info-list">
                <label for="">Qeydiyatda olduğu ünvan</label>
                <input type="text" class="form-control" id="user-name" value="Köhnə Günəşli qəs., General Əliağa Şıxlınski küçəsi">
            </div>
            <div class="y-address user-info-list">
                <label for="">Faktiki ünvan</label>
                <input type="text" class="form-control" id="user-name" value="Köhnə Günəşli qəs., General Əliağa Şıxlınski küçəsi">
            </div>
            <div class="q-address user-info-list">
                <label for="">SSN</label>
                <input type="text" class="form-control" id="user-name" value="1234567890123">
            </div>
            <div class="FIN user-info-list">
                <label for="">FIN</label>
                <input type="text" class="form-control" id="user-name" value="6FBAHKR">
            </div>
            <div class="phone-number user-info-list">
                <label for="">Telefon Nömrəsi</label>
                <input type="text" class="form-control" id="user-name" value="+994(70) 561 27 41">
            </div>
            <div class="home-number user-info-list">
                <label for="">Ev Telefonu</label>
                <input type="text" class="form-control" id="user-name" value="+994(12) 561 27 41">
            </div>
            <div class="shift-type user-info-list">
                <label for="">Ştat</label>
                <input type="text" class="form-control" id="user-name" value="Yarım Ştat(Günün 2nci yarısı)">
            </div>
            <div class="j-start-date user-info-list">
                <label for="">İşə başlama tarixi</label>
                <input type="text" class="form-control" id="user-name" value="21.07.2021">
            </div>
            <div class="day-off-days user-info-list">
                <label for="">Məzuniyyət</label>
                <input type="text" class="form-control" id="user-name" value="30">
            </div>
            <div class="project user-info-list">
                <label for="">Layihə</label>
                <input type="text" class="form-control" id="user-name" value="Yeni Hayat Şirkətlər Qrupu">
            </div>
            <div class="department user-info-list">
                <label for="">Departament</label>
                <input type="text" class="form-control" id="user-name" value="Daxili Audit Xidməti">
            </div>
            <div class="position user-info-list">
                <label for="">Vəzifə</label>
                <input type="text" class="form-control" id="user-name" value="IT Audit">
            </div>
            <div class="working-days user-info-list">
                <label for="">İşə gəlmə günləri</label>
                <input type="text" class="form-control" id="user-name" value="Tam Ay">
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/profile-api.js"></script>