<div class="mb-3">
    <h1 class="h3 d-inline align-middle">Profile</h1>
</div>
<div class="row">
    <div class="col-md-4 col-xl-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title mb-0">Profile Details</h5>
            </div>
            <div class="card-body text-center">
                <img src="" id="card-pp" class="img-fluid rounded-circle mb-2"
                    width="128" height="128" />
                <h5 class="card-title mb-0" id="card-name-surname"></h5>
                <div class="text-muted mb-2" id="card-job-title">IT Audit</div>
            </div>
            <hr class="my-0" />
            <div class="card-body">
                <h5 class="h6 card-title">Skills</h5>
                <a href="#" class="badge bg-primary me-1 my-1">HTML</a>
                <a href="#" class="badge bg-primary me-1 my-1">JavaScript</a>
                <a href="#" class="badge bg-primary me-1 my-1">Sass</a>
                <a href="#" class="badge bg-primary me-1 my-1">Angular</a>
                <a href="#" class="badge bg-primary me-1 my-1">Vue</a>
                <a href="#" class="badge bg-primary me-1 my-1">React</a>
                <a href="#" class="badge bg-primary me-1 my-1">Redux</a>
                <a href="#" class="badge bg-primary me-1 my-1">UI</a>
                <a href="#" class="badge bg-primary me-1 my-1">UX</a>
            </div>
            <hr class="my-0" />
            <div class="card-body">
                <h5 class="h6 card-title">About</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1"><span data-feather="home" class="feather-sm me-1"></span> Lives in <a href="#" id="card-address"></a></li>

                    <li class="mb-1"><span data-feather="briefcase" class="feather-sm me-1"></span> Works at 
                        <a href="#" id="card-project"></a>
                        </li>
                </ul>
            </div>
            <hr class="my-0" />
            <div class="card-body">
                <h5 class="h6 card-title">Elsewhere</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1"><a href="#">staciehall.co</a></li>
                    <li class="mb-1"><a href="#">Twitter</a></li>
                    <li class="mb-1"><a href="#">Facebook</a></li>
                    <li class="mb-1"><a href="#">Instagram</a></li>
                    <li class="mb-1"><a href="#">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-xl-9">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">User Data</h5>
            </div>
            <div class="card-body h-100">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="mb-3">
                            <label class="form-label" for="">İstifadəçi Adı</label>
                            <input class="form-control" type="text" id="username" name="username" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Ad</label>
                            <input class="form-control" type="text" id="name" name="name" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Ata Adı</label>
                            <input class="form-control" type="text" id="father_name" name="father_name" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Doğum Tarixi</label>
                            <input class="form-control" type="text" id="dob" name="dob" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Faktiki ünvan</label>
                            <input class="form-control" type="text" id="y_address" name="y_address" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">FIN</label>
                            <input class="form-control" type="text" id="fin" name="fin" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Ev Telefonu</label>
                            <input class="form-control" type="number" id="home_number" name="home_number" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">İşə başlama tarixi</label>
                            <input class="form-control" type="text" id="j_start_date" name="j_start_date" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Layihə</label>
                            <input class="form-control" type="text" id="project_id" name="project_id" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Vəzifə</label>
                            <input class="form-control" type="text" id="position_id" name="position_id" disabled>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="mb-3">
                            <label class="form-label" for="">Email</label>
                            <input class="form-control" type="email" id="email" name="email" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Soyad</label>
                            <input class="form-control" type="text" id="surname" name="surname" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Cinsiyyəti</label>
                            <input class="form-control" type="text" id="sex" name="sex" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Qeydiyatda olduğu ünvan</label>
                            <input class="form-control" type="text" id="q_address" name="q_address" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">SSN</label>
                            <input class="form-control" type="number" id="ssn" name="ssn" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Mobil Telefonu</label>
                            <input class="form-control" type="number" id="phone_number" name="phone_number" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">İş Saatları</label>
                            <div class="d-flex justify-content-between">
                                <input class="form-control" type="text" id="shift_start" name="shift_start" disabled>
                                <div class="mx-1"></div>
                                <input class="form-control" type="text" id="shift_end" name="shift_end" disabled>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Məzuniyyət Günləri</label>
                            <input class="form-control" type="number" id="day_off_days" name="day_off_days" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Departament</label>
                            <input class="form-control" type="text" id="department_id" name="department_id" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">İşə gəlmə günləri</label>
                            <input class="form-control" type="text" id="working_days" name="working_days" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/profile-api.js"></script>