{{#if errors}}
    {{#each errors}}
        <div class="error-message bg-danger bg-opacity-25 p-2 rounded" role="alert">
            {{msg}}
        </div>
        <script>
            setTimeout(() => {
                document.querySelector(".error-message").classList.add("d-none");
            }, 1500);
        </script>
    {{/each}}
{{/if}}

{{#if success_msg}}
    <div class="alert alert-success alert-dismissible fade show">
        {{success_msg}}
    </div>
{{/if}}

{{#if error_msg}}
    <div class="error-message bg-danger bg-opacity-25 p-2 rounded" role="alert">
        <span class="text-danger">{{error_msg}}</span>
    </div>
    <script>
        setTimeout(() => {
            document.querySelector(".error-message").classList.add("d-none");
        }, 1500);
    </script>
{{/if}}

{{#if error}}
    <div class="error-message bg-danger bg-opacity-25 p-2 rounded" role="alert">
        <span class="text-danger">{{error}}</span>
    </div>
    <script>
        setTimeout(() => {
            document.querySelector(".error-message").classList.add("d-none");
        }, 1500);
    </script>
{{/if}}