<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords"
        content="" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="/assets/img/blink-logo-tab.png" sizes="16x16"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css">
    {{!-- <link rel="stylesheet" type="text/css" href="/assets/css/all.min.css"> --}}
    <link rel="stylesheet" type="text/css" href="/assets/css/font.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/plugins/monthSelect/style.css">
    <link href="/assets/css/app.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <script src="https://kit.fontawesome.com/7aba92f0ae.js" crossorigin="anonymous"></script>

    <title>Blink-BI</title>
</head>

<body>
    <div class="loading top-0 w-100" style="left: 0; height: 100vh; z-index: 11111;">
        <div class="loading-container w-100 h-100 d-flex justify-content-center align-items-center">
            <img src="/assets/img/atom.svg" style="width: 70px">
        </div>
    </div>
    <div class="success-alert-notification d-none opacity-hide">
        <div class="success-message">
            <i class="align-middle me-2" data-feather="check-circle"></i>
            <span id="successAlertMessage"></span>
        </div>
    </div>

    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar collapsed">
            <div class="sidebar-content js-simplebar">
                <a class="d-flex justify-content-center py-5" href="/dashboard">
                    <img src="/assets/img/blink-logo-female.png" alt="" style="width: 65%;">
                </a>

                <ul class="sidebar-nav" id="nav_accordion">
                    
                </ul>
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align align-items-center">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                                <div class="position-relative">
                                    <i class="align-middle" data-feather="bell"></i>
                                    <span class="indicator d-none"></span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
                                aria-labelledby="alertsDropdown">
                                <div class="dropdown-menu-header">
                                    Notifications
                                </div>
                                <div class="list-group">
                                    {{!-- <button class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-danger" data-feather="alert-circle"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark dropdown-text">Update completed</div>
                                                <div class="text-muted small mt-1 dropdown-text">Restart server 12
                                                    to complete the update.</div>
                                                <div class="text-muted small mt-1 dropdown-text">30m ago</div>
                                            </div>
                                        </div>
                                    </button>
                                    <button class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-warning" data-feather="bell"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark dropdown-text">Lorem ipsum</div>
                                                <div class="text-muted small mt-1 dropdown-text">Aliquam ex eros,
                                                    imperdiet vulputate hendrerit et.</div>
                                                <div class="text-muted small mt-1 dropdown-text">2h ago</div>
                                            </div>
                                        </div>
                                    </button> --}}
                                </div>
                                <div class="dropdown-menu-footer">
                                    <a href="/notification/all-notifications" class="text-muted">Show all notifications</a>
                                </div>
                            </div>
                        </li>
                        {{!-- <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown"
                                data-bs-toggle="dropdown">
                                <div class="position-relative">
                                    <i class="align-middle" data-feather="message-square"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
                                aria-labelledby="messagesDropdown">
                                <div class="dropdown-menu-header">
                                    <div class="position-relative">
                                        4 New Messages
                                    </div>
                                </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <img src=""
                                                    class="avatar img-fluid rounded-circle" alt="Vanessa Tucker" />
                                            </div>
                                            <div class="col-10 ps-2">
                                                <div class="text-dark">Vanessa Tucker</div>
                                                <div class="text-muted small mt-1">Nam pretium turpis
                                                    et arcu. Duis arcu tortor.</div>
                                                <div class="text-muted small mt-1">15m ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <img src=""
                                                    class="avatar img-fluid rounded-circle" alt="William Harris" />
                                            </div>
                                            <div class="col-10 ps-2">
                                                <div class="text-dark">William Harris</div>
                                                <div class="text-muted small mt-1">Curabitur ligula
                                                    sapien euismod vitae.</div>
                                                <div class="text-muted small mt-1">2h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <img src=""
                                                    class="avatar img-fluid rounded-circle" alt="Christina Mason" />
                                            </div>
                                            <div class="col-10 ps-2">
                                                <div class="text-dark">Christina Mason</div>
                                                <div class="text-muted small mt-1">Pellentesque auctor
                                                    neque nec urna.</div>
                                                <div class="text-muted small mt-1">4h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <img src=""
                                                    class="avatar img-fluid rounded-circle" alt="Sharon Lessman" />
                                            </div>
                                            <div class="col-10 ps-2">
                                                <div class="text-dark">Sharon Lessman</div>
                                                <div class="text-muted small mt-1">Aenean tellus
                                                    metus, bibendum sed, posuere ac, mattis non.</div>
                                                <div class="text-muted small mt-1">5h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-menu-footer">
                                    <a href="#" class="text-muted">Show all messages</a>
                                </div>
                            </div>
                        </li> --}}
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                                data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-icon dropdown-toggle d-flex d-sm-inline-block navbar-user-button"  style="font-size: var(--bs-body-font-size)" href="#"
                                data-bs-toggle="dropdown">
                                <div class="d-flex">
                                    <div class="letter-avatar d-none justify-content-center align-items-center rounded-circle me-1" style="background-color: #2c3e50;">
                                        <h4 class="avatar-letters text-white m-0"></h4>
                                    </div>
                                    <div class="avatar-picture d-none">
                                        <img src="/assets/img/john.jpg" class="avatar img-fluid rounded-circle me-1"/>
                                    </div>
                                    <span class="text-dark" id="dropdown-username"></span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="/profile">
                                    <i class="align-middle me-1" data-feather="user"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="/profile/change-password">
                                    <i class="align-middle me-1 bi bi-key"></i>
                                    Change Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/profile/request-time-off">
                                    <i class="align-middle me-1" data-feather="briefcase"></i>
                                    Məzuniyyət sorğusu
                                </a>
                                <a class="dropdown-item" href="/profile/salaries">
                                    <i class="align-middle me-1" data-feather="dollar-sign"></i>
                                    Alınan Maaşlar
                                </a>
                                <a class="dropdown-item" href="/profile/my-time-off-requests">
                                    <i class="align-middle me-1" data-feather="airplay"></i>
                                    Məzuniyyət sorğularım
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content">
                <div class="container-fluid">
                    {{{body}}}
                </div>
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-12 text-center">
                            <p class="mb-0">
                                <a class="text-muted" href="/support"><strong>Blink-BI</strong></a>
                                &copy; | All rights reserved
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="notification-alert position-fixed d-none p-4 opacity-hide">
                <div class="d-flex justify-content-between align-items-center">
                    <i class="align-middle" data-feather="bell"></i>
                    <div class="mx-1"></div>
                    <p>New Notification!</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/plugins/monthSelect/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/az.js"></script>
    {{!-- <script src="/assets/js/all.min.js"></script> --}}
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/app.js"></script>

    <script>
        
    </script>
    <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
    <script>

        const socket = io();
        socket.on('connect', () => {
            socket.on('notification', (data) => {
                if ("notificationCount" in data) {
                    $(".indicator").removeClass("d-none").text(data.notificationCount);
                    return
                };

                $(".notification-alert").removeClass("d-none").addClass("opacity-show").text(data.header);
                setTimeout(() => {
                    $(".notification-alert").removeClass("opacity-show").addClass("opacity-hide");
                    setTimeout(() => {
                        $(".notification-alert").addClass("d-none");
                    }, 500);
                }, 4000);

                $(".indicator").text((idx, val) => {
                    return parseInt(val) + 1;
                });

                if(window.location.pathname === "/notification/all-notifications") {
                    location.reload();
                }
            });
        });
    </script>
</body>

</html>