{{> messages }}
<div class="department-table">
    <table class="table table-striped">
        <div class="container">
            <thead>
                <th>İşçi</th>
                <th>Telefon Nömrəsi</th>
                <th>Departament</th>
                <th>Vəzifəsi</th>
                <th>Proyekt</th>
                <th>Status</th>
                <th>
                    <a class="btn btn-outline-success btn-sm w-100" href="/employee/add-employee">Əlavə <i class="bi bi-person-plus"></i></a>
                </th>
            </thead>
            <thead>
                <th><input type="text" name="empName" id="empName"></th>
                <th><input type="text" name="empPhoneNumb" id="empPhoneNumb"></th>
                <th><input type="text" name="empDept" id="empDept"></th>
                <th><input type="text" name="empPos" id="empPos"></th>
                <th><input type="text" name="empProj" id="empProj"></th>
                <th>
                    <select name="empStatus" id="empStatus">
                        <option value="0">All</option>
                        <option value="1">İşləyir</option>
                        <option value="2">İşdən Ayrılıb</option>
                    </select>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                </tr>
            </tbody>
        </div>
    </table>
    <div class="pagination d-flex justify-content-center">
        <div class="pagination-container w-50 d-flex justify-content-between">
            <button class="pagination-item btn btn-outline-dark btn-sm active disabled">1</button>
        </div>
    </div>
</div>
<div class="modal-remove">
    <div class="modal-container d-flex p-5 justify-content-between">
        <div class="emp-data d-flex flex-column justify-content-between">
            <div class="">
                <h4>Adı:</h4>
                <input id="empName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Soyadı:</h4>
                <input id="empSName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Ata Adı:</h4>
                <input id="empFName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Telefon Nömrəsi:</h4>
                <input id="empPNumber" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Departament:</h4>
                <input id="empDeptName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Vəzifə:</h4>
                <input id="empPosName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Proyekt:</h4>
                <input id="empProjName" type="text" disabled value="">
            </div>
        </div>
        <form id="remove-form" class="d-flex flex-column justify-content-between" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="">
            <div class="select-emp-rm-time d-flex justify-content-between">
                <label for="">İşdən ayrılma vaxtı</label>
                <input class="w-50" type="date" name="j_end_date">
            </div>
            <div class="select-emp-rm-form-1 d-flex justify-content-between">
                <label for="">Ərizə Skan</label>
                <div class="">
                    <label class="btn btn-outline-dark btn-sm" for="application-form-1">Faylı Yükləyin</label>
                    <span class="d-none">
                        <i class="bi bi-check-circle-fill text-success"></i>
                    </span>
                    <p class="text-black-50"></p>
                </div>
                <input class="d-none resignation-inputs" type="file" name="application-form" id="application-form-1">
            </div>
            <div class="select-emp-rm-form-2 d-flex justify-content-between">
                <label for="">Əmr Skan</label>
                <div class="">
                    <label class="btn btn-outline-dark btn-sm" for="application-form-2">Faylı Yükləyin</label>
                    <span class="d-none">
                        <i class="bi bi-check-circle-fill text-success"></i>
                    </span>
                    <p class="text-black-50"></p>
                </div>
                <input class="d-none resignation-inputs" type="file" name="injunction" id="application-form-2">
            </div>
            <div class="select-emp-rm-work-book d-flex justify-content-between">
                <label for="">Əmək Kitabçası Skan</label>
                <div class="">
                    <label class="btn btn-outline-dark btn-sm" for="application-work-book">Faylı Yükləyin</label>
                    <span class="d-none">
                        <i class="bi bi-check-circle-fill text-success"></i>
                    </span>
                    <p class="text-black-50"></p>
                </div>
                <input class="d-none resignation-inputs" type="file" name="work-book" id="application-work-book">
            </div>
            <div class="emp-rm-buttons d-flex justify-content-between">
                <span class="btn btn-outline-danger btn-sm empModalCancelBtn">Ləğv Et</span>
                <button class="btn btn-outline-secondary btn-sm" type="submit">Yadda Saxla</button>
            </div>
        </form>
    </div>
</div>

<div class="d-none employee-full-data-modal position-fixed w-100 bg-dark bg-opacity-50 top-0" style="height: 100vh; left: 0">
    <div class="emp-modal-container w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="emp-modal-bg-light position-relative bg-light h-75 d-flex flex-wrap justify-content-between p-4" style="width: 30%; overflow-y: hidden;">
            <h2 class="bold position-absolute w-100 text-center text-black py-2" style="left: 0; top: 15px; pointer-events: none">Əməkdaş Məlumatı</h2>
            <div class="close-emp-modal w-100">
                <span class="btn float-end empModalCloseBtn">
                    <i class="bi bi-x-square-fill"></i>
                </span>
            </div>
            <div class="emp-infos d-flex flex-column mt-5 py-3">
                <div class="w-100 d-flex flex-wrap" style="height: 20%">
                    <div class="profile-picture" style="width: 40%; height: 100%;">
                        <img src="/assets/img/q.jpg" style="border: 1px solid #000; box-shadow: 2px 2px 5px #000; height: 100%; width: 100%; object-fit: cover; object-position: top">
                    </div>
                    <div class="d-flex flex-column justify-content-between align-items-center" style="width: 60%; height: 100%">
                        <div class="d-flex justify-content-between w-100 px-4">
                            <label class="bold" for="">Adı</label>
                            <input type="text" name="first_name" id="name">
                        </div>
                        <div class="d-flex justify-content-between w-100 px-4">
                            <label class="bold" for="">Orta Adı</label>
                            <input type="text" name="middle_name" id="midName">
                        </div>
                        <div class="d-flex justify-content-between w-100 px-4">
                            <label class="bold" for="">Soyadı</label>
                            <input type="text" name="last_name" id="surname">
                        </div>
                        <div class="d-flex justify-content-between w-100 px-4">
                            <label class="bold" for="">Ata Adı</label>
                            <input type="text" name="father_name" id="fatherName">
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-between mt-4" style="overflow-y: scroll; height: 35%">
                    <div class="gender my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">Cinnsiyyəti</label>
                        <select name="sex" id="sex">
                            <option value="0">Kişi</option>
                            <option value="1">Qadın</option>
                        </select>
                    </div>
                    <div class="dob my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">Doğum Günü</label>
                        <input type="date" name="dob" id="dob">
                    </div>
                    <div class="q-address my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">Qeydiyatda olduğu Ünvan</label>
                        <input type="text" name="q_address" id="qAddress">
                    </div>
                    <div class="y-address my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">Yaşadığı ünvan</label>
                        <input type="text" name="y_address" id="yAddress">
                    </div>
                    <div class="SSN my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">SSN</label>
                        <input type="text" name="SSN" id="SSN">
                    </div>
                    <div class="FIN my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">FIN</label>
                        <input type="text" name="FIN" id="FIN">
                    </div>
                    <div class="phone-numb my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">Telefon nömrəsi</label>
                        <input type="text" name="phone_number" id="phoneNumber">
                    </div>
                    <div class="home-numb my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">Ev telefonu nömrəsi</label>
                        <input type="text" name="home_number" id="homeNumber">
                    </div>
                    <div class="shift-start my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">İşə gəlmə vaxtı</label>
                        <input type="time" name="shift_start_t" id="shiftStart">
                    </div>
                    <div class="shift-end my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">İşdən çıxma vaxtı</label>
                        <input type="time" name="shift_end_d" id="shiftEnd">
                    </div>
                    <div class="job-start-date my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">İşə başlama tarixi</label>
                        <input type="date" name="j_start_d" id="jStartDate">
                    </div>
                    <div class="dayoff-days my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">Məzuniyyət günləri</label>
                        <input type="text" name="dayoff_days" id="dayOffDays">
                    </div>
                    <div class="working-days my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">İşə gəlmə günlərinin sayı</label>
                        <input type="text" name="working-days" id="workingDays">
                    </div>
                    <div class="project my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">Proyekt</label>
                        <select name="project" id="project">

                        </select>
                    </div>
                    <div class="department my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">Departament</label>
                        <select name="department" id="department">

                        </select>
                    </div>
                    <div class="position my-2 d-flex w-100 justify-content-between">
                        <label class="bold" for="">Vəzifə</label>
                        <select name="position" id="position">

                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading position-absolute top-0 w-100" style="left: 0; height: 100vh">
    <div class="loading-container bg-light bg-opacity-25 w-100 h-100 d-flex justify-content-center align-items-center">
        <img src="/assets/img/loading-3.gif" style="width: 70px">
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/emp-api.js"></script>
<script src="/assets/js/emp-functions.js"></script>