{{> messages }}
<div class="time-off-form mb-5">
    <h1 class="text-center">Əməkdaş Qeydiyyat Formu</h1>
    {{#if name}}
        <p class="text-center bold">
            <span class="text-black">({{name}})</span>
        </p>
    {{/if}}
    <form action="" method="post" enctype="multipart/form-data">
        <div class="toff-partitions toff-active">
            <div class="time-off-select-container d-flex justify-content-between mt-5">
                <div class="toff-select-cont-left d-flex flex-column">
                    <div class="financial-responsibility-scan d-flex justify-content-between">
                        <label for="">Tam Maddi-Məsuliyyət Müqaviləsi Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="frScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="frScan" name="frScan">
                    </div>
                    <div class="privacy-contract-scan d-flex justify-content-between">
                        <label for="">Məxfi Məlumatların Qorunması Müqaviləsi Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="pcScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="pcScan" name="pcScan">
                    </div>
                    <div class="health-certificate-scan d-flex justify-content-between">
                        <label for="">Sağlamlıq Haqqında Arayış Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="hcScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="hcScan" name="hcScan">
                    </div>
                    <div class="health-certificate-scan d-flex justify-content-between">
                        <label for="">Rəsmi əmək haqqı</label>
                        <input class="w-25" type="number" id="gross" name="gross">
                    </div>
                    <div class="health-certificate-scan d-flex justify-content-between">
                        <label for="u_pay">Qeyri rəsmi(əlavə) əmək haqqı</label>
                        <input class="w-25" type="number" id="u_pay" name="u_pay">
                    </div>
                </div>
                <div class="emp-select-cont-right d-flex flex-column">
                    <div class="injunction-scan d-flex justify-content-between">
                        <label for="">Əmr Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="injScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="injScan" name="injScan">
                    </div>
                    <div class="diploma-scan d-flex justify-content-between">
                        <label for="">Diplom Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="diplomaScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="diplomaScan" name="diplomaScan">
                    </div>
                    <div class="id-scan d-flex justify-content-between">
                        <label for="">Şəxsiyyət Vəsiqəsi Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="idScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="idScan" name="idScan">
                    </div>
                    <div class="labor-contract d-flex justify-content-between">
                        <label for="">Əmək Müqaviləsi Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="lcScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="lcScan" name="lcScan">
                    </div>
                    <div class="picture-3x4 d-flex justify-content-between">
                        <label for="">Şəkil 3x4</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="pp">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="pp" name="profilePicture">
                    </div>
                </div>
            </div>
        </div>
        <div class="toff-submit-btn mt-4 mb-5">
            <button class="btn" id="toffApplyBtn">Apply</button>
        </div>
    </form>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/add-employee.js"></script>