{{> messages }}
{{!-- <div class="time-off-form mb-5">
    <h1 class="text-center">Əməkdaş Qeydiyyat Formu</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="toff-partitions toff-active">
            <div class="time-off-select-container d-flex justify-content-between mt-5">
                <div class="toff-select-cont-left d-flex flex-column">
                    <div class="financial-responsibility-scan d-flex justify-content-between">
                        <label for="">Tam Maddi-Məsuliyyət Müqaviləsi Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="frScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="frScan" name="frScan">
                    </div>
                    <div class="privacy-contract-scan d-flex justify-content-between">
                        <label for="">Məxfi Məlumatların Qorunması Müqaviləsi Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="pcScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="pcScan" name="pcScan">
                    </div>
                    <div class="health-certificate-scan d-flex justify-content-between">
                        <label for="">Sağlamlıq Haqqında Arayış Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="hcScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="hcScan" name="hcScan">
                    </div>
                    <div class="health-certificate-scan d-flex justify-content-between">
                        <label for="">Rəsmi əmək haqqı</label>
                        <input class="w-25" type="number" id="gross" name="gross">
                    </div>
                    <div class="health-certificate-scan d-flex justify-content-between">
                        <label for="u_pay">Qeyri rəsmi(əlavə) əmək haqqı</label>
                        <input class="w-25" type="number" id="u_pay" name="u_pay">
                    </div>
                </div>
                <div class="emp-select-cont-right d-flex flex-column">
                    <div class="injunction-scan d-flex justify-content-between">
                        <label for="">Əmr Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="injScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="injScan" name="injScan">
                    </div>
                    <div class="diploma-scan d-flex justify-content-between">
                        <label for="">Diplom Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="diplomaScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="diplomaScan" name="diplomaScan">
                    </div>
                    <div class="id-scan d-flex justify-content-between">
                        <label for="">Şəxsiyyət Vəsiqəsi Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="idScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="idScan" name="idScan">
                    </div>
                    <div class="labor-contract d-flex justify-content-between">
                        <label for="">Əmək Müqaviləsi Skan</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="lcScan">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="lcScan" name="lcScan">
                    </div>
                    <div class="picture-3x4 d-flex justify-content-between">
                        <label for="">Şəkil 3x4</label>
                        <div class="position-relative">
                            <label class="btn btn-dark" for="pp">Fayl Seçin</label>
                            <span class="d-none position-absolute" style="right: -15px">
                                <i class="bi bi-check-circle-fill text-success"></i>
                            </span>
                            <p class="text-black-50"></p>
                        </div>
                        <input class="d-none recruitment-scans" type="file" id="pp" name="profilePicture">
                    </div>
                </div>
            </div>
        </div>
        <div class="toff-submit-btn mt-4 mb-5">
            <button class="btn" id="toffApplyBtn">Apply</button>
        </div>
    </form>
</div> --}}



<div class="card-container w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="card w-100">
        <div class="card-header">
            <h5 class="card-title">Əməkdaş Qeydiyyat Formu</h5>
        </div>
        {{#if name}}
            <h3 class="text-center bold">
                ({{name}})
            </h3>
        {{/if}}
        <form action="" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="mb-5">
                            <label class="form-label" for="">Tam Maddi-Məsuliyyət Müqaviləsi Skan</label>
                            <input class="form-control" type="file" id="frScan" name="frScan">
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="pcScan">Məxfi Məlumatların Qorunması Müqaviləsi Skan</label>
                            <input class="form-control" type="file" id="pcScan" name="pcScan">
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="pcScan">Sağlamlıq Haqqında Arayış Skan</label>
                            <input class="form-control" type="file" id="hcScan" name="hcScan">
                        </div>
                        <div class="mb-5">
                                <label class="form-label" for="gross">Rəsmi əmək haqqı</label>
                                <input class="form-control" type="number" id="gross" name="gross">
                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="u_pay">Qeyri rəsmi(əlavə) əmək haqqı</label>
                                <input class="form-control" type="number" id="u_pay" name="u_pay">
                            </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="mb-5">
                            <label class="form-label" for="injScan">Əmr Skan</label>
                            <input class="form-control" type="file" id="injScan" name="injScan">
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="diplomaScan">Diplom Skan</label>
                            <input class="form-control" type="file" id="diplomaScan" name="diplomaScan">
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="idScan">Şəxsiyyət Vəsiqəsi Skan</label>
                            <input class="form-control" type="file" id="idScan" name="idScan">
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="lcScan">Əmək Müqaviləsi Skan</label>
                            <input class="form-control" type="file" id="lcScan" name="lcScan">
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="pp">Şəkil 3x4</label>
                            <input class="form-control" type="file" id="pp" name="profilePicture">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="button float-end">
                            <button type="submit" class="btn btn-primary">Əlavə Et</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script>
    setTimeout(() => {
        document.querySelector(".loading").classList.add("d-none");
    }, 1000);
</script>