<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0">Əməkdaşlar</h5>
    </div>
    <table class="table table-hover my-0" style="margin: 0 !important;">
        <thead>
            <tr> 
                <th></th>
                <th>İşçi</th>
                <th>E-mail</th>
                <th class="d-none d-xl-table-cell">Telefon Nömrəsi</th>
                <th>Departament</th>
                <th class="d-none d-xl-table-cell">Vəzifəsi</th>
                <th>Proyekt</th>
                <th class="d-none d-xl-table-cell">Status</th>
                <th class="d-none d-md-table-cell">
                    <a class="btn btn-outline-success btn-sm w-100" href="/employee/add-employee">Əlavə <i
                            class="bi bi-person-plus"></i></a>
                </th>
            </tr>
            <tr>
                <th>
                    <select class="form-select" id="limitCount">
                        <option value="10">10</option>
                        <option value="15" selected>15</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="all">ALL</option>
                    </select>
                </th>
                <th><input class="form-control" type="text" name="empName" id="empName"></th>
                <th><input class="form-control" type="text" name="empMail" id="empMail"></th>
                <th class="d-none d-xl-table-cell"><input class="form-control" type="text" name="empPhoneNumb" id="empPhoneNumb"></th>
                <th><input class="form-control" type="text" name="empDept" id="empDept"></th>
                <th class="d-none d-xl-table-cell"><input class="form-control" type="text" name="empPos" id="empPos"></th>
                <th><input class="form-control" type="text" name="empProj" id="empProj"></th>
                <th class="d-none d-xl-table-cell">
                    <select class="form-select" name="empStatus" id="empStatus">
                        <option value="0">All</option>
                        <option value="1">İşləyir</option>
                        <option value="2">İşdən Ayrılıb</option>
                    </select>
                </th>
                <th class="d-none d-xl-table-cell">
                    <button class="btn btn-success w-100" id="exportToExcel"><i
                            class="bi bi-file-earmark-excel-fill"></i> Export</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-weight: bolder;">Waiting</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination d-flex justify-content-center">
        <div class="pagination-container w-50 d-flex justify-content-between">
            <button class="pagination-item btn btn-outline-dark btn-sm pagination-active disabled">1</button>
        </div>
    </div>
</div>
<div class="modal-remove">
    <div class="modal-container d-flex p-5 justify-content-between">
        <div class="emp-data d-flex flex-column justify-content-between">
            <div class="">
                <h4>Adı:</h4>
                <input id="empName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Soyadı:</h4>
                <input id="empSName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Ata Adı:</h4>
                <input id="empFName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Telefon Nömrəsi:</h4>
                <input id="empPNumber" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Departament:</h4>
                <input id="empDeptName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Vəzifə:</h4>
                <input id="empPosName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Proyekt:</h4>
                <input id="empProjName" type="text" disabled value="">
            </div>
        </div>
        <form id="remove-form" class="d-flex flex-column justify-content-between" method="post"
            enctype="multipart/form-data">
            <input type="hidden" name="id" value="">
            <div class="select-emp-rm-time d-flex justify-content-between">
                <label for="">İşdən ayrılma vaxtı</label>
                <input class="w-50" type="date" name="j_end_date">
            </div>
            <div class="select-emp-rm-form-1 d-flex justify-content-between">
                <label for="">Ərizə Skan</label>
                <div class="">
                    <label class="btn btn-outline-dark btn-sm" for="application-form-1">Faylı Yükləyin</label>
                    <span class="d-none">
                        <i class="bi bi-check-circle-fill text-success"></i>
                    </span>
                    <p class="text-black-50"></p>
                </div>
                <input class="d-none resignation-inputs" type="file" name="application-form"
                    id="application-form-1">
            </div>
            <div class="select-emp-rm-form-2 d-flex justify-content-between">
                <label for="">Əmr Skan</label>
                <div class="">
                    <label class="btn btn-outline-dark btn-sm" for="application-form-2">Faylı Yükləyin</label>
                    <span class="d-none">
                        <i class="bi bi-check-circle-fill text-success"></i>
                    </span>
                    <p class="text-black-50"></p>
                </div>
                <input class="d-none resignation-inputs" type="file" name="injunction" id="application-form-2">
            </div>
            <div class="select-emp-rm-work-book d-flex justify-content-between">
                <label for="">Əmək Kitabçası Skan</label>
                <div class="">
                    <label class="btn btn-outline-dark btn-sm" for="application-work-book">Faylı Yükləyin</label>
                    <span class="d-none">
                        <i class="bi bi-check-circle-fill text-success"></i>
                    </span>
                    <p class="text-black-50"></p>
                </div>
                <input class="d-none resignation-inputs" type="file" name="work-book" id="application-work-book">
            </div>
            <div class="emp-rm-buttons d-flex justify-content-between">
                <span class="btn btn-outline-danger btn-sm empModalCancelBtn">Ləğv Et</span>
                <button class="btn btn-outline-secondary btn-sm" type="submit">Yadda Saxla</button>
            </div>
        </form>
    </div>
</div>

<div class="employee-data-modal bg-dark bg-opacity-50 position-fixed d-flex justify-content-center align-items-center d-none" style="height: 100vh; width: 100vw; top: 0; left: 0;">
    <div class="card h-75">
        <div class="emp-modal-header d-flex justify-content-between align-items-center">
            <div class="card-header">
                <h5 class="card-title mb-0 px-4">Əməkdaş Məlumatları</h5>
            </div>
            <div class="">
                <button class="btn card-title mb-0 px-4 empModalCloseBtn" style="outline: none; box-shadow: none;">
                    <i class="align-middle" data-feather="x"></i>
                </button>
            </div>
        </div>

        <div class="card-divider" style="border-bottom: 1px solid #41414141;"></div>

        <div class="card-profile-picture d-flex justify-content-center py-3">
            <img class="img-fluid rounded-circle" src="/assets/img/john.jpg" style="height: 100px; width: 100px; object-fit: cover; object-position: top;">
        </div>

        <div class="card-divider" style="border-bottom: 1px solid #41414141;"></div>

        <div class="card-container px-4 py-2" style="overflow-y: scroll;">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card-body">
                        <input class="update-employee-input" type="hidden" name="employeeId" id="employeeId">
                        <div class="mb-3">
                            <label for="" class="form-label">Ad</label>
                            <input class="form-control update-employee-input" type="text" name="employeeName" id="name">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Ata Adı</label>
                            <input class="form-control update-employee-input" type="text" name="employeeFatherName" id="fatherName">
                        </div>
                        <div class="mb-3">
                            <label for="dob" class="form-label">Doğum Tarixi:</label>
                            <input class="form-control flatpickr-input update-employee-input" type="date" id="dob" name="dob" style="background-color: #fff !important;">
                        </div>
                        <div class="mb-3">
                            <label for="q_address" class="form-label">Qeydiyyatda olduğu ünvan:</label>
                            <input class="form-control update-employee-input" type="text" name="q_address" id="qAddress">
                        </div>
                        <div class="mb-3">
                            <label for="phone_number" class="form-label">Mobil telefonu:</label>
                            <input class="form-control update-employee-input" type="number" name="phoneNumber" id="phoneNumber">
                        </div>
                        <div class="mb-3">
                            <label for="logix_name" class="form-label">Logix adı:</label>
                            <input class="form-control update-employee-input" type="text" name="logix_name" id="logix_name">
                        </div>
                        <div class="mb-3">
                            <label for="select_shift_type" class="form-label">Ştat Tipi</label>
                            <select class="form-select update-employee-input" name="select_shift_type" id="select_shift_type">
                                <option value="1" selected="">Standart</option>
                                <option value="2">Xüsusi</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="job_start_date" class="form-label">İşə başlama tarixi: </label>
                            <input class="form-control flatpickr-input update-employee-input" type="text" name="j_start_date" id="jStartDate" style="background-color: #fff !important;" readonly="readonly">
                        </div>
                        <div class="mb-3">
                            <label for="working_days" class="form-label">İş günlərinin sayı:</label>
                            <input class="form-check-input mx-2 update-employee-input" type="checkbox" name="full_day" id="full_day">
                            <input class="form-control update-employee-input" type="text" name="working_days" id="workingDays">
                        </div>
                        <div>
                            <label for="department_id" class="form-label">Departament:</label>
                            <select class="form-select update-employee-input" name="department" id="department">
                                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="" class="form-label">Soyad</label>
                            <input class="form-control update-employee-input" type="text" name="employeeLastName" id="surname">
                        </div>
                        <div class="mb-3">
                            <label for="sex" class="form-label">Cinsiyyət:</label>
                            <select class="form-select update-employee-input" name="sex" id="sex">
                                <option value="0">Kişi</option>
                                <option value="1">Qadın</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="ssn" class="form-label">SSN</label>
                            <input class="form-control update-employee-input" type="number" name="SSN" id="ssn">
                        </div>
                        <div class="mb-3">
                            <label for="y_address" class="form-label">Faktiki ünvan:</label>
                            <input class="form-control update-employee-input" type="text" name="y_address" id="yAddress">
                        </div>
                        <div class="mb-3">
                            <label for="home_number" class="form-label">Ev telefonu:</label>
                            <input class="form-control update-employee-input" type="number" name="home_number" id="homeNumber">
                        </div>
                        <div class="mb-3">
                            <label for="tabel_no" class="form-label">Logix Tabel No:</label>
                            <input class="form-control update-employee-input" type="text" name="tabel_no" id="tabel_no">
                        </div>
                        <div class="mb-3 shift-auto">
                            <label for="shift_type" class="form-label">Ştat: </label>
                            <select class="form-select update-employee-input" name="shift_type" id="shift_type">
                                <option value="1">Tam Ştat</option>
                                <option value="2">Yarımştat (Günün 1-ci yarısı)</option>
                                <option value="3">Yarımştat (Günün 2-ci yarısı)</option>
                            </select>
                        </div>
                        <div class="mb-3 shift-manual d-none">
                            <div class="mb-3">
                                <label for="shift_start_t" class="form-label">İşə gəlmə vaxtı: </label>
                                <input class="form-control flatpickr-input update-employee-input" type="time" name="shift_start_t" id="shiftStart" style="background-color: #fff !important;" readonly="readonly">
                            </div>
                            <div>
                                <label for="shift_end_t" class="form-label">İşdən çıxma vaxtı: </label>
                                <input class="form-control flatpickr-input update-employee-input" type="time" name="shift_end_t" id="shiftEnd" style="background-color: #fff !important;" readonly="readonly">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="dayoff_days_total" class="form-label">Məzuniyyət günlərinin sayı:</label>
                            <input class="form-control update-employee-input" type="number" name="dayoff_days_total" id="dayOffDays">
                        </div>
                        <div class="mb-3">
                            <label for="project_id" class="form-label">Proyekt:</label>
                            <select class="form-select update-employee-input" name="project" id="project">
                                <option value="" hidden="">Seçin</option>
                                        <option value="1">Grand Hayat Management</option>
                                        <option value="2">Yeni Hayat Şirkətlər Qrupu</option>
                                        <option value="3">Hayat Management</option>
                                        <option value="4">Grand Hayat</option>
                                        <option value="5">Hayat Residence</option>
                                        <option value="6">ASD</option>
                            </select>
                        </div>
                        <div>
                            <label for="position_id" class="form-label">Vəzifəsi:</label>
                            <select class="form-select update-employee-input" name="position" id="position">
                                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card-body" style="padding-top: 0 !important; padding-bottom: 0 !important;">
                        <div class="mb-3">
                            <label for="fin" class="form-label">FIN</label>
                            <input class="form-control update-employee-input" type="text" name="FIN" id="fin">
                        </div>
                    </div>
                </div>
                <input type="hidden" id="employeeId">
            </div>
        </div>

        <div class="px-4">
            <div class="row">
                <div class="col-12">
                    <div class="card-body">
                        <div class="buttons d-flex justify-content-between">
                            <button class="btn btn-danger" id="empEditCancelBtn">Ləğv Et</button>
                            <button class="btn btn-primary" id="empEditApplyBtn">Təsdiqlə</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="update-notification-alert text-center d-none position-fixed">
<p class="update-notification-p text-light p-1 border round-5"></p>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/emp-api.js"></script>
<script src="/assets/js/emp-functions.js"></script>