<h1 class="h3 mb-3"><strong>Analitik</strong> İdarə Paneli</h1>

<div class="row">
    <div class="col-xl-6 d-flex">
        <div class="w-100">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card inap-fprints d-none">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">Uyğunsuz barmaq izləri</h5>
                                </div>

                                <div class="col-auto">
                                    <div class="stat text-primary">
                                        <i class="fas fa-user-secret align-middle"></i>
                                        {{!-- <i class="align-middle" data-feather="truck"></i> --}}
                                    </div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3 inap-fprints-count"></h1>
                            {{!-- <div class="mb-0">
                                <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                                <span class="text-muted">Since last week</span>
                            </div> --}}
                        </div>
                    </div>
                    <div class="card emp-card d-none">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">Əməkdaş Sayı</h5>
                                </div>

                                <div class="col-auto">
                                    <div class="stat text-primary">
                                        <i class="align-middle" data-feather="users"></i>
                                    </div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3 empCount"></h1>
                            {{!-- <div class="mb-0">
                                <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                                <span class="text-muted">Since last week</span>
                            </div> --}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card salary-sum d-none">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">Son ayın maaşları</h5>
                                </div>

                                <div class="col-auto">
                                    <div class="stat text-primary">
                                        {{!-- <i class="align-middle" data-feather="dollar-sign"></i> --}}
                                        <span style="font-size: 20px;">₼</span>
                                    </div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3">₼ <span id="salarySum"></span></h1>
                            {{!-- <div class="mb-0">
                                <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
                                <span class="text-muted">Since last week</span>
                            </div> --}}
                        </div>
                    </div>
                    <div class="card new-emp d-none">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">Yeni əməkdaşlar</h5>
                                </div>

                                <div class="col-auto">
                                    <div class="stat text-primary">
                                        <i class="align-middle" data-feather="user-plus"></i>
                                    </div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3 new-emp-count"></h1>
                            {{!-- <div class="mb-0">
                                <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.25% </span>
                                <span class="text-muted">Since last week</span>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card flex-fill w-100" style="overflow-y: scroll;">
            <div class="card-header">

                <h5 class="card-title mb-0">Ən son bildirişlər</h5>
            </div>
            <div class="card-body">
                <div class="notifications" style="min-height: 200px; max-height: 200px;">
                    <table class="table table-hover my-0" style="margin: 0 !important;">
                        <thead>
                            <tr>
                                <th>Başlıq</th>
                                <th>Məzmun</th>
                                <th>URL</th>
                            </tr>
                        </thead>
                        <tbody class="lastNotTbody">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
        <div class="card flex-fill w-100">
            <div class="card-header">

                <h5 class="card-title mb-0">Departamentlər üzrə verilən maaşlar</h5>
            </div>
            <div class="card-body d-flex p-0">
                <div class="align-self-center w-100">
                    <div class="py-3">
                        <div class="chart chart-xs">
                            <canvas id="chartjs-dashboard-pie"></canvas>
                        </div>
                    </div>

                    <table class="table table-hover mb-0">
                        <tbody class="salaryDeptTbody">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
        <div class="card flex-fill w-100">
            <div class="card-header">

                <h5 class="card-title mb-0">Layihələr xəritəsi</h5>
            </div>
            <div class="card-body p-0">
                <iframe src="https://www.google.com/maps/d/embed?mid=12J1_yle6wRNX4f9hLQ-tN5IbsC3iKzo&ehbc=2E312F" width="100%" height="100%"></iframe>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
        <div class="card flex-fill">
            <div class="card-header">

                <h5 class="card-title mb-0">Calendar</h5>
            </div>
            <div class="card-body d-flex">
                <div class="align-self-center w-100">
                    <div class="chart">
                        <div id="datetimepicker-dashboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8 col-xxl-9 d-flex">
        <div class="card flex-fill latest-timeoffs d-none">
            <div class="card-header">

                <h5 class="card-title mb-0">Son məzuniyyətlər</h5>
            </div>
            <table class="table table-hover my-0 latest-timeoffs-table">
                <thead>
                    <tr>
                        <th>Əməkdaş</th>
                        <th class="d-none d-xl-table-cell">Başlanğıc Tarixi</th>
                        <th class="d-none d-xl-table-cell">Bitiş Tarixi</th>
                        <th>Status</th>
                        <th class="d-none d-md-table-cell">Məzuniyyət Növü</th>
                    </tr>
                </thead>
                <tbody class="latest-timeoffs-tbody">
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 col-lg-4 col-xxl-3 d-flex">
        <div class="card flex-fill w-100">
            <div class="card-header">

                <h5 class="card-title mb-0">Aylıq verilən maaşlar</h5>
            </div>
            <div class="card-body d-flex w-100">
                <div class="align-self-center chart chart-lg">
                    <canvas id="chartjs-dashboard-bar"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/dashboard.js"></script>