<div class="div text-center">
    {{>messages}}
</div>
<div class="login">
    <div class="container">
        <div class="logos">
            <div class="logo-1 yenitech">
                <img src="/assets/img/a.png" alt="">
            </div>
        </div>
        <div class="login-form">
            <form action="" method="post">
                <div class="form-container">
                    <input type="text" placeholder="Username" name="username">
                    <input type="password" placeholder="Password" name="password">
                    <div class="remember-forgot">
                        <a href="">Forgot Your Password?</a>
                    </div>
                    <div class="sign-button">
                        <button type="submit" id="signIn">Sign In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
