<div class="salaries">
    {{> messages }}
    <table class="table table-striped">
        <div class="container">
            <thead>
                <tr>
                    <th>Əməkdaş</th>
                    <th>Gross</th>
                    <th>Maaşın Verilmə Tarixi</th>
                    <th>DSMF</th>
                    <th>İşsizlik</th>
                    <th>İcbari tibbi sığorta</th>
                    <th>DSMF(Şirkət)</th>
                    <th>İşsizlik(Şirkət)</th>
                    <th>İcbari tibbi sığorta(Şirkət)</th>
                    <th><button class="btn btn-success" id="export"><i class="bi bi-file-earmark-excel"></i> Export</button></th>
                </tr>
                <tr>
                    <th><input class="form-control" type="text" id="emp"></th>
                    <th>
                        <div class="d-flex justify-content-between">
                            <input class="form-control" type="number" id="min" placeholder="min">
                            <div class="mx-1"></div>
                            <input class="form-control" type="number" id="max" placeholder="max">
                        </div>
                    </th>
                    <th>
                        <div class="d-flex">
                            <input class="month-and-year form-control" type="text" id="qSalaryDate">
                            <div class="mx-1" id="resetDate">
                                <span class="btn btn-outline-secondary d-flex justify-content-center align-items-center h-100">
                                    <i class="bi bi-arrow-counterclockwise"></i>
                                </span>
                            </div>
                        </div>
                    </th>
                    <th><input class="form-control" type="text" id="emp"></th>
                    <th><input class="form-control" type="text" id="emp"></th>
                    <th><input class="form-control" type="text" id="emp"></th>
                    <th><input class="form-control" type="text" id="emp"></th>
                    <th><input class="form-control" type="text" id="emp"></th>
                    <th><input class="form-control" type="text" id="emp"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </div>
    </table>
</div>

<div class="pagination d-flex justify-content-center">
    <div class="pagination-container w-50 d-flex justify-content-between">
        <button class="pagination-item btn btn-outline-dark btn-sm active disabled">1</button>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/salary-by-months-api.js"></script>
