<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0">Əmək Haqqları</h5>
    </div>
    {{> messages }}
    <h1 class="text-center">Əmək Haqqları</h1>
    <table class="table table-hover" style="margin: 0 !important;">
        <div class="container">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Unofficial Pay</th>
                    <th>Gross</th>
                    <th class="text-center"><a class="btn btn-outline-info" href="/salaries/salary-by-months">Aylıq alınan maaşlar</a></th>
                </tr>
                <tr>
                    <th><input type="text" id="emp"></th>
                    <th>
                        <select class="p2" id="u_pay">
                            <option hidden>Seçin</option>
                            <option value="0">Hamısı</option>
                            <option value="1">Olanlar</option>
                            <option value="2">Olmayanlar</option>
                        </select>
                    </th>
                    <th><input class="px-2" type="number" id="min" placeholder="min"> <input class="px-2" type="number" id="max" placeholder="max"> </th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                </tr>
            </tbody>
        </div>
    </table>
    
    <div class="pagination d-flex justify-content-center">
        <div class="pagination-container w-50 d-flex justify-content-between">
            <button class="pagination-item btn btn-outline-dark btn-sm active disabled">1</button>
        </div>
    </div>

    <div class="loading top-0 w-100" style="left: 0; height: 100vh">
        <div class="loading-container bg-opacity-25 w-100 h-100 d-flex justify-content-center align-items-center">
            <img src="/assets/img/atom.svg" style="width: 100px">
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/salary-api.js"></script>
