<div class="salaries">
    {{> messages }}
    <table class="table table-striped">
        <div class="container">
            <thead>
                <th>Employee</th>
                <th>Gross</th>
                <th>Salary Date</th>
                <th><button class="btn btn-success" id="export"><i class="bi bi-file-earmark-excel"></i> Export</button></th>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                </tr>
            </tbody>
        </div>
    </table>
</div>

<div class="loading position-absolute top-0 w-100" style="left: 0; height: 100vh">
    <div class="loading-container bg-light bg-opacity-25 w-100 h-100 d-flex justify-content-center align-items-center">
        <img src="/assets/img/loading-3.gif" style="width: 70px">
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/salary-by-months-api.js"></script>
