<div class="salaries">
    {{> messages }}
    <table class="table table-striped">
        <div class="container">
            <thead>
                <th>Employee</th>
                <th>Unofficial Pay</th>
                <th>Gross</th>
                <th class="text-center"><a class="btn btn-outline-info" href="/salaries/salary-by-months">Aylıq alınan maaşlar</a></th>
            </thead>
            <thead>
                <th><input type="text" id="emp"></th>
                <th>
                    <select class="p2" id="u_pay">
                        <option hidden>Seçin</option>
                        <option value="0">Hamısı</option>
                        <option value="1">Olanlar</option>
                        <option value="2">Olmayanlar</option>
                    </select>
                </th>
                <th><input class="px-2" type="number" id="min" placeholder="min"> <input class="px-2" type="number" id="max" placeholder="max"> </th>
                <th class="text-center">Actions</th>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                </tr>
            </tbody>
        </div>
    </table>
</div>

<div class="loading position-absolute top-0 w-100" style="left: 0; height: 100vh">
    <div class="loading-container bg-light bg-opacity-25 w-100 h-100 d-flex justify-content-center align-items-center">
        <img src="/assets/img/loading-3.gif" style="width: 70px">
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/salary-api.js"></script>
