<div class="department-table">
    {{> messages }}
    <table class="table table-striped">
        <div class="container">
            <thead>
            <th>Əməkdaş</th>
            <th>Barmaq izi tarixi</th>
            <th>Giriş</th>
            <th>Çıxış</th>
            </thead>

            <thead>
                <th><input type="text" name="qEmployee" id="qEmployee"></th>
                <th><input type="text" name="qProject" id="qProject"></th>
                <th><input type="text" name="qDepartment" id="qDepartment"></th>
                <th><input type="text" name="qPosition" id="qPosition"></th>
            </thead>
            <tbody>
                
            </tbody>
        </div>
    </table>
    <div class="pagination d-flex justify-content-center">
        <div class="pagination-container w-50 d-flex justify-content-between">
            <button class="pagination-item btn btn-outline-dark btn-sm active disabled">1</button>
        </div>
    </div>
</div>
<div class="fprint-modal position-fixed w-100">
    <div class="fprint-modal-container w-100 h-100 d-flex justify-content-center align-items-center">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="fprint-background d-flex flex-column p-5">
                <label for="upload" class="btn btn-outline-dark btn-sm mb-3">Fayl Seç</label>
                <input class="d-none" type="file" id="upload" name="file">
                <div class="buttons">
                    <span id="fpCancelBtn" class="btn btn-outline-danger btn-sm" type="button">Ləğv et</span>
                    <button class="btn btn-outline-primary btn-sm" type="submit">Təsdiqlə</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="add-time-modal d-none position-fixed justify-content-center align-items-center">
    <div class="add-time-modal-container">
        <div class="time-input my-2">
            <input type="time" id="timeInput">
        </div>
        <div class="add-time-btns btn-group d-flex justify-content-between my-2">
            <button class="btn btn-outline-danger" id="timeInputCancel">Ləğv Et</button>
            <button class="btn btn-outline-success" id="timeInputSubmit">Təsdiqlə</button>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/fg-fprint-api.js"></script>
