{{> messages }}
<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0">Barmaq İzləri</h5>
    </div>
    <h2 class="text-center">Barmaq İzləri</h2>
    <table class="table table-hover my-0">
        <div class="container">
            <thead class="headers">
                <tr>
                    <th>Əməkdaş</th>
                    <th>Barmaq izi tarixi</th>
                    <th>Giriş</th>
                    <th>Çıxış</th>
                </tr>
                <tr>
                    <th><input class="form-control" type="text" name="qProject" id="qProject"></th>
                    <th>
                        <input class="form-control" type="date" name="qDate" id="qDate">
                    </th>
                    <th><input class="form-control" type="text" name="qDepartment" id="qDepartment"></th>
                    <th><input class="form-control" type="text" name="qPosition" id="qPosition"></th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </div>
    </table>
    <div class="pagination d-flex justify-content-center">
        <div class="pagination-container w-50 d-flex justify-content-between">

        </div>
    </div>
</div>

<div class="add-time-modal d-none position-fixed justify-content-center align-items-center">
    <div class="add-time-modal-container">
        <div class="card">
            <div class="card-header py-2 pt-3">
                <h3 class="text-center">Vaxtı Əlavə Edin</h3>
            </div>
            <div class="card-body py-0 pb-3">
                <div class="time-input my-2">
                    <input class="form-control" type="time" id="timeInput">
                </div>
                <div class="add-time-btns btn-group d-flex justify-content-between my-2">
                    <button class="btn btn-outline-danger" id="timeInputCancel">Ləğv Et</button>
                    <button class="btn btn-outline-primary" id="timeInputSubmit">Təsdiqlə</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js" defer></script>
<script src="/assets/js/inappropriate-fprint-api.js" defer></script>