<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Working Hours</h5>
    </div>
    <div class="card-body">
        <div class="row working-hours-row">
            {{!-- <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Tam ştat</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <label class="form-label" for=""></label>
                                <input type="time" class="form-control">
                            </div>
                            <div class="col-12 col-lg-6">
                                <label class="form-label" for=""></label>
                                <input type="time" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0"></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <label class="form-label" for=""></label>
                                <input type="time" class="form-control">
                            </div>
                            <div class="col-12 col-lg-6">
                                <label class="form-label" for=""></label>
                                <input type="time" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Tam ştat</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <label class="form-label" for=""></label>
                                <input type="time" class="form-control">
                            </div>
                            <div class="col-12 col-lg-6">
                                <label class="form-label" for=""></label>
                                <input type="time" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
        <div class="">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card">
                        <button class="btn btn-primary" id="saveBtn">Yadda saxla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/working-hours.js"></script>