<div class="login">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="card" style="width: 40%;">
                <div class="card-body px-5">
                    <div class="div text-center">
                        {{>messages}}
                    </div>
                    <div class="text-center">
                        <img src="/assets/img/a.png" alt="Yenitech" class="img-fluid" style="height: 180px !important; width: auto !important;"/>
                        <form method="post">
                            <div class="mb-3">
                                <label class="form-label">İstifadəçi adı və ya email</label>
                                <input class="form-control" type="text" name="user_input">
                            </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-lg btn-primary">Reset</button>
                                <a href="/login" class="btn btn-lg btn-secondary">Geri Qayıt</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
