<div class="div text-center">
    {{>messages}}
</div>
<div class="login">
    <div class="container">
        <div class="logos">
            <div class="logo-1 yenitech">
                <img src="/assets/img/a.png" alt="">
            </div>
        </div>
        <div class="login-form">
            <form action="" method="post">
                <div class="form-container">
                    <div class="form-group d-flex justify-content-center">
                        <input type="text" placeholder="İstifadəçi adı və ya email" name="user_input" style="width: 20vw;">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>