<form class="mt-2" action="/register" method="post">
    Emp<input type="number" name="emp_id">
    User<input type="text" name="username">
    Email<input type="email" name="email">
    Pass<input type="password" name="password">
    Role<input type="number" name="role">
    <button type="submit">Add</button>
    {{> messages}}
</form>