{{> messages}}
<div class="message d-none">

</div>
<form class="update-form" action="" method="post">
    <div class="form-row row">
    <div class="form-group col-md-6">
            <label for="empSelect">Employee</label>
            <input type="text" class="form-control" name="emp_id" id="employee" disabled>
        </div>
        <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="role">Role</label>
        <select name="role" id="role" class="form-select">
            
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Update User</button>
    <button type="button" class="btn btn-primary mt-3" id="updatePasswordBtn">Update Password</button>
</form>

<div class="update-password-modal d-none position-fixed justify-content-center align-items-center">
    <div class="update-password-modal-container w-25">
        <div class="card">
            <div class="card-header mt-2">
                <h1 class="text-center">Yeni Şifrə Təyin Edin</h1>
            </div>
            <div class="card-body">
                <div class="password-input my-2">
                    <label class="form-label required-lowast" for="password">Şifrə</label>
                    <input class="form-control" type="password" id="password">
                </div>
                <div class="retype-password-input my-2">
                    <label class="form-label required-lowast" for="retypePassword">Təkrar</label>
                    <input class="form-control" type="password" id="retypePassword">
                </div>
                <div class="update-password-btns d-flex justify-content-between mt-3 mb-2">
                    <button class="btn btn-outline-danger" id="passwordUpdateCancel">Ləğv Et</button>
                    <button class="btn btn-outline-primary" id="passwordUpdateSubmit">Təsdiqlə</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/user-update-api.js"></script>