<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0">Cərimələr</h5>
    </div>
    {{> messages }}
    <table class="table table-hover my-0" style="margin: 0 !important;">
        <div class="container">
            <thead>
                <tr>
                    <th>Əməkdaş</th>
                    <th>Ümumi gecikmə</th>
                    <th>Tədbiq olunacaq cərimələr</th>
                    <th>Ən son cərimənin hesablanma tarixi</th>
                </tr>
                <tr>
                    <th><input type="text" name="qEmployee" id="qEmployee"></th>
                    <th><input type="text" name="qMinuteTotal" id="qMinuteTotal"></th>
                    <th><input type="text" name="qApprovedFine" id="qApprovedFine"></th>
                    <th><input type="date" name="qDate"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                </tr>
            </tbody>
        </div>
    </table>
    <div class="pagination d-flex justify-content-center d-none">
        <div class="pagination-container w-50 d-flex justify-content-between">
            <button class="pagination-item btn btn-outline-dark btn-sm active disabled">1</button>
        </div>
    </div>
</div>
<div class="fprint-modal position-fixed w-100">
    <div class="fprint-modal-container w-100 h-100 d-flex justify-content-center align-items-center">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="fprint-background d-flex flex-column p-5">
                <label for="upload" class="btn btn-outline-dark btn-sm mb-3">Fayl Seç</label>
                <input class="d-none" type="file" id="upload" name="file">
                <div class="buttons">
                    <span id="fpCancelBtn" class="btn btn-outline-danger btn-sm" type="button">Ləğv et</span>
                    <button class="btn btn-outline-primary btn-sm" type="submit">Təsdiqlə</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="loading top-0 w-100" style="left: 0; height: 100vh">
    <div class="loading-container bg-opacity-25 w-100 h-100 d-flex justify-content-center align-items-center">
        <img src="/assets/img/atom.svg" style="width: 100px">
    </div>
</div>
<div class="approve-modal position-fixed d-none justify-content-center align-items-center">
    <div class="approve-modal-container">
        <p>Cərimələmək istədiyiniz dəqiqəni qeyd edin</p>
        <input class="my-2 px-2 w-100" type="number" id="approve-modal-input">
        <div class="approve-modal-buttons d-flex justify-content-between my-2">
            <button class="btn btn-outline-danger" id="approveModalCancel">Ləğv Et</button>
            <button class="btn btn-outline-success" id="approveModalApprove">Təsdiqlə</button>
        </div>
    </div>
</div>
<div class="warning-modal d-none position-fixed justify-content-center align-items-center">
    <div class="warning-modal-container">
        <p>Cərimə sıfırlansın mı?</p>
        <div class="warning-modal-buttons d-flex justify-content-between my-2">
            <button class="btn btn-outline-danger" id="warningModalCancel">Ləğv Et</button>
            <button class="btn btn-outline-success" id="warningModalApprove">Təsdiqlə</button>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/fine-api.js"></script>