<div class="department-table">
    {{> messages }}
    <table class="table table-striped">
        <div class="container">
            <thead>
            <th>Əməkdaş</th>
            <th>Məzuniyyətin Tipi</th>
            <th>Başlama Tarixi</th>
            <th>Bitmə Tarixi</th>
            <th>İşə qayıtma tarixi</th>
            <th>Təsdiqlənmə</th>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                </tr>
            </tbody>
        </div>
    </table>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/time-off-request-approve-api.js"></script> 