<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0">Təsdiqləmə Matrisi</h5>
    </div>
    {{> messages }}
    <table class="table table-hover my-0" style="margin: 0 !important;">
        <div class="container">
            <h1 class="text-center my-5">Təsdiqləmə Matrisi</h1>
            <thead>
                <tr>
                    <th>Əməkdaş</th>
                    <th>Məzuniyyətin Tipi</th>
                    <th>Başlama Tarixi</th>
                    <th>Bitmə Tarixi</th>
                    <th>İşə qayıtma tarixi</th>
                    <th>Status</th>
                    <th>
                        <a class="btn btn-outline-success w-100" href="/timeoffrequests/add-toff-non-user">Əlavə <i class="bi bi-plus-circle"></i></a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <input class="form-control" type="text" id="qEmployee" name="qEmployee">
                    </th>
                    <th>
                        <select class="form-select" name="qType" id="qType">
                            <option value="">All</option>
                        </select>
                    </th>
                    <th>
                        <div class="d-flex">
                            <input class="form-control" type="date" id="qStartDate" name="qStartDate">
                            <div class="mx-1"></div>
                            <button class="btn btn-light" id="qStartReset">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex">
                            <input class="form-control" type="date" id="qEndDate" name="qEndDate">
                            <div class="mx-1"></div>
                            <button class="btn btn-light" id="qEndReset">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex">
                            <input class="form-control" type="date" id="qJStartDate" name="qJStartDate">
                            <div class="mx-1"></div>
                            <button class="btn btn-light" id="qJStartReset">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                        </div>
                    </th>
                    <th>
                        <select class="form-select" name="qStatus" id="qStatus">
                            <option value="">All</option>
                        </select>
                    </th>
                    <th>
                        <button class="btn btn-success w-100" id="exportToExcel"><i class="bi bi-file-earmark-excel-fill"></i> Export</button>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </div>
    </table>

    <div class="pagination d-flex justify-content-center">
        <div class="pagination-container w-50 d-flex justify-content-between">
            <button class="pagination-item btn btn-outline-dark btn-sm pagination-active disabled">1</button>
        </div>
    </div>
</div>

<div class="time-off-modal d-none t-o-m-request position-fixed" style="left: 0; top: 0; height: 100vh; width: 100vw; z-index: 1111111">
    <div class="time-off-form-container d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
        <div class="time-off-form mb-5" style="height: fit-content; background-color: #fff">
            <h1 class="text-center">Əmr təsdiqləmə</h1>
            <div class="messages mt-5">
            </div>
            <label for="">Əmr №</label>
            <input class="" type="text" id="emrNo">
            <div class="time-off-select-container d-flex justify-content-center w-100">
                <div class="time-off-select-container d-flex word-btn-container justify-content-between w-100 mt-5">
                    <button class="btn btn-primary" id="downloadDoc"><i class="bi bi-file-earmark-word"></i> Əmri Yüklə</button>
                    <label for="uploadDoc" class="btn btn-info mx-4"> <i class="bi bi-upload"></i> Əmri əlavə et</label>
                    <input class="d-none" type="file" id="uploadDoc" disabled>
                    <button class="btn btn-success" id="submitUploadBtn">Təsdiqlə</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
{{#if hr}} 
    <script src="/assets/js/number-to-azeri-word.js"></script>
    <script src="/assets/js/time-off-request-api.js"></script>
{{/if}}
{{#if super_admin}} 
    <script src="/assets/js/time-off-request-api.js"></script> 
{{/if}}
{{#if deptDirector}}
    <script src="/assets/js/time-off-request-dr-api.js"></script> 
{{/if}}