<div class="department-table">
    {{> messages }}
    <table class="table table-striped">
        <div class="container">
            <thead>
            <th>Employer</th>
            <th>Time Off Type</th>
            <th>Priority</th>
            <th>Time Off Start Date</th>
            <th>Time Off End Date</th>
            <th>Time Off Job Start Date</th>
            <th>Status</th>
            <th>
                <a class="btn btn-outline-success btn-sm" href="/timeoffrequests/add-toff-non-user">Əlavə <i class="bi bi-plus-circle"></i></a>
            </th>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                </tr>
            </tbody>
        </div>
    </table>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/time-off-request-api.js"></script>