<div class="department-table">
    {{> messages }}
    <table class="table table-striped">
        <div class="container">
            <h1 class="text-center my-5">Təsdiqləmə Matrisi</h1>
            <thead>
            <th>Əməkdaş</th>
            <th>Məzuniyyətin Tipi</th>
            <th>Başlama Tarixi</th>
            <th>Bitmə Tarixi</th>
            <th>İşə qayıtma tarixi</th>
            <th>Status</th>
            <th>
                <a class="btn btn-outline-success btn-sm" href="/timeoffrequests/add-toff-non-user">Əlavə <i class="bi bi-plus-circle"></i></a>
            </th>
            <th>
                {{#if hr}}
                    <a class="btn btn-outline-primary btn-sm" href="/timeoffrequests/approve-requests/hr">Emal <i class="bi bi-check2-square"></i></a>
                {{/if}}
                {{#if deptDirector}}
                    <a class="btn btn-outline-primary btn-sm" href="/timeoffrequests/approve-requests/dr">Emal <i class="bi bi-check2-square"></i></a>
                {{/if}}
            </th>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                </tr>
            </tbody>
        </div>
    </table>
</div>

<div class="time-off-modal d-none t-o-m-request position-fixed" style="left: 0; top: 0; height: 100vh; width: 100vw; z-index: 1111111">
    <div class="time-off-form-container d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
        <div class="time-off-form mb-5" style="height: fit-content; background-color: #fff">
            <h1 class="text-center">Məzuniyyət Formu</h1>
            <div class="messages mt-5">
            </div>
            <label for="">Əmr №</label>
            <input class="" type="text" id="emrNo">
            <div class="time-off-select-container d-flex justify-content-center w-100">
                <div class="time-off-select-container d-flex word-btn-container justify-content-between w-100 mt-5">
                    <button class="btn btn-primary" id="downloadDoc"><i class="bi bi-file-earmark-word"></i> Əmri Yüklə</button>
                    <label for="uploadDoc" class="btn btn-info mx-4"> <i class="bi bi-upload"></i> Əmri əlavə et</label>
                    <input class="d-none" type="file" id="uploadDoc" disabled>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
{{#if hr}} 
    <script src="/assets/js/number-to-azeri-word.js"></script>
    <script src="/assets/js/time-off-request-api.js"></script>
{{/if}}
{{#if super_admin}} 
    <script src="/assets/js/time-off-request-api.js"></script> 
{{/if}}
{{#if deptDirector}}
    <script src="/assets/js/time-off-request-dr-api.js"></script> 
{{/if}}