<div class="department-table">
    {{> messages }}
    <table class="table table-striped">
        <div class="container">
            <h1 class="text-center my-5">Təsdiqləmə Matrisi</h1>
            <thead>
            <th>Əməkdaş</th>
            <th>Məzuniyyətin Tipi</th>
            <th>Başlama Tarixi</th>
            <th>Bitmə Tarixi</th>
            <th>İşə qayıtma tarixi</th>
            <th>Status</th>
            <th>
                <a class="btn btn-outline-success btn-sm" href="/timeoffrequests/add-toff-non-user">Əlavə <i class="bi bi-plus-circle"></i></a>
            </th>
            <th>
                {{#if hr}}
                    <a class="btn btn-outline-primary btn-sm" href="/timeoffrequests/approve-requests/hr">Emal <i class="bi bi-check2-square"></i></a>
                {{/if}}
                {{#if deptDirector}}
                    <a class="btn btn-outline-primary btn-sm" href="/timeoffrequests/approve-requests/dr">Emal <i class="bi bi-check2-square"></i></a>
                {{/if}}
            </th>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                    <td class="bg-warning bg-opacity-50 text-black bold">Waiting</td>
                </tr>
            </tbody>
        </div>
    </table>
</div>

<script src="/assets/js/jquery.min.js"></script>
{{#if hr}} 
    <script src="/assets/js/time-off-request-api.js"></script> 
{{/if}}
{{#if super_admin}} 
    <script src="/assets/js/time-off-request-api.js"></script> 
{{/if}}
{{#if deptDirector}}
    <script src="/assets/js/time-off-request-dr-api.js"></script> 
{{/if}}