<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Group Access Əlavə Formu</h5>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label class="form-label required-lowast" for="name">Group Access Adı</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="my-5"></div>
        <div class="checkbox-container d-flex justify-content-between">
            <div class="group-container w-50">
                <h3>Sistem İcazələri</h3>
                <div class="group-rights-checkbox d-flex justify-content-between flex-wrap p-3">
                    
                </div>
            </div>
            <div class="mx-2"></div>
            <div class="navbar-container w-50">
                <h3>Menu İcazələri</h3>
                <div class="navbar-rights-checkbox d-flex justify-content-between flex-wrap p-3">
                
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary d-flex float-end mt-2" id="submitBtn">Əlavə Et</button>
    </div>
</div>

<div class="success-modal bg-dark bg-opacity-50" style="display: none; position: fixed; top: 0; left: 0; height: 100%; width: 100%;">
    <div class="success-modal-conatiner d-flex justify-content-center align-items-center h-100 w-100">
        <div class="success-modal-card bg-light h-50 w-50 d-flex justify-content-center align-items-center">
            <h3 class="text-success">Group Access uğurla əlavə edildi!</h3>
        </div>
    </div>
</div>
<div class="error-modal bg-dark bg-opacity-50" style="display: none; position: fixed; top: 0; left: 0; height: 100%; width: 100%;">
    <div class="error-modal-conatiner d-flex justify-content-center align-items-center h-100 w-100">
        <div class="error-modal-card bg-light h-50 w-50 d-flex justify-content-center align-items-center">
            <h3 id="errorMessage" class="text-danger"></h3>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/add-group-access.js"></script>